.container-project {
    margin: 25px 0; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 30px;
  }

  .photo {
    width: 550px;
    height: 300px;
    object-fit: contain;
  }


  .article {
    overflow: hidden;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.header {
     font-size: 12px;
     color: white;
     position: absolute;
     bottom: 470px;
     left: 50px;  
     height: 3em;
     overflow: hidden;
     width: 300px;
}

.funding {
  font-size: 10px;
  color: white;
  position: absolute;
  top: 130px;
  left: 40px;  
  height: 3em;
  overflow: hidden;
  width: 200px;
}

.top-right {
  font-size: 10px;
  color: white;
  position: absolute;
  top: 130px;
  left: 200px;  
  height: 3em;
  overflow: hidden;
  width: 300px;
}

.tag {
     font-size: 12px;
     color: white;
     position: absolute;
     bottom: 470px;
     left: 680px;  
     height: 3em;
     overflow: hidden;
     width: 300px;
}

.description {
  font-size: 9px;
  color: white;
  position: absolute;
  top: 130px;
  left: 800px;  
  height: 3em;
  overflow: hidden;
  width: 300px;
}

.funding2 {
  font-size: 10px;
  color: white;
  position: absolute;
  top: 130px;
  left: 640px;  
  height: 3em;
  overflow: hidden;
  width: 200px;
}


.tag3 {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 370px;
  left: 1280px;  
  height: 3em;
  overflow: hidden;
  width: 300px;
}

.description3 {
  font-size: 10px;
  color: white;
  position: absolute;
  top: 130px;
  left: 1400px;  
  height: 3em;
  overflow: hidden;
  width: 300px;
}

.funding3 {
  font-size: 10px;
  color: white;
  position: absolute;
  top: 130px;
  left: 1240px;  
  height: 3em;
  overflow: hidden;
  width: 190px;
}

.tag4 {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 700px;
  left: 20px;  
  height: 3em;
  overflow: hidden;
  width: 300px;
}

.description4 {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 460px;
  left: 250px;  
  height: 3em;
  overflow: hidden;
  width: 300px;
}

.funding4 {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 470px;
  left: 30px;  
  height: 3em;
  overflow: hidden;
  width: 190px;
}

.tag5 {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 700px;
  left: 650px;
  height: 3em;
  overflow: hidden;
  width: 300px;
}

.description5 {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 460px;
  left: 900px;  
  height: 3em;
  overflow: hidden;
  width: 250px;
}

.funding5 {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 460px;
  left: 610px;  
  height: 3em;
  overflow: hidden;
  width: 250px;
}

.tag6 {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 700px;
  left: 1230px;  
  height: 3em;
  overflow: hidden;
  width: 300px;
}

.description6 {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 460px;
  left: 1480px;  
  height: 3em;
  overflow: hidden;
  width: 250px;
}

.funding6 {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 460px;
  left: 1200px;  
  height: 3em;
  overflow: hidden;
  width: 250px;
}