.logo {
    width: 20px;
    height: 20px;
    left: 5%;
    top: 3px;
  }



@media screen and (min-width: 2000px) {
    .footer-text {
        font-size: 40px;
        line-height: 61.6px;
    }
}

@media screen and (max-width: 1150px) {
    .footer-links {
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .footer-links-contact,
    .footer-links-logo,
    .app__footer-links_work {
        margin: 2rem 0;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .app__footer {
        padding: 0 0 2rem 0;
    }
}

@media screen and (max-width: 350px) {
    .footer-links-logo img:first-child {
        width: 80%;
    }
} 
