 .footer {
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 0;
    background: var(--color-black);
    padding-top: 0;
}
/* 
.footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 5rem;
    padding: 0 2rem;
} */

.footer-links-contact,
.footer-links-logo,
.app__footer-links_work {
    flex: 1;
    margin: 5rem;
    text-align: center;
    
}

.footer-links-logo img:first-child {
    width: 210px;
    margin-bottom: 1rem;
    
}


.app__footer-links_work p:nth-child(2n + 1) {
    margin-bottom: 1rem;
    
}

.footer-links-icons {
    margin-top: 0.5rem;
    
}

.footer-links-icons svg {
    color: var(--color-white);
    margin: 0.5rem;
    font-size: 24px;
    cursor: pointer;
    
}

.footer-links-icons svg:hover {
    color: var(--color-golden);
    
}

.app__footer-headtext {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    /* text-transform: capitalize; */
    font-size: 20px;
    line-height: 41.6px;
    margin-bottom: 1rem;
    
 
}

.footer-copyright {
    margin-top: 3rem;
    
}

.app__footer-links_work ul li a:hover{
    color: #38d16a;
    font-weight: 500;
    
  }

@media screen and (min-width: 2000px) {
    .footer-text {
        font-size: 40px;
        line-height: 61.6px;
    }
}

@media screen and (max-width: 1150px) {
    .footer-links {
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .footer-links-contact,
    .footer-links-logo,
    .app__footer-links_work {
        margin: 2rem 0;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .app__footer {
        padding: 0 0 2rem 0;
    }
}

@media screen and (max-width: 350px) {
    .footer-links-logo img:first-child {
        width: 80%;
    }
}