.logo-styles-1 {
    margin-right: auto;
    height: 0px;    
    text-align: center;
    width: 850px;
    font-size: 85px;
}

.logo-styles-2 {
      height: 118px;
      text-align: center;
      margin-left: auto;
      width: 850px;
}