.image {
    display: block;
    max-width: 200px;
    max-height: 70px;
    width: auto;
    height: auto;
}

.container {
  margin: 25px 0; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 30px;
  border-left: 1px solid grey;
  height: 400px;
}

.partnerInfoWrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color:black;   
}

@media screen and (max-width : 768px) {    
  .partnerInfoWrapper {
      position         : relative;
      /* display          : flex; */
      flex-direction: column;
      background-color : #fff;
      left             : 10px;
      top              : 10px;
      transition       : 0.5s;
      width            : 100%;
      height           : 30vh;
      z-index: 5; 
      padding         : 25px;
  }
}