.image {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.container {
  margin: 25px 0; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 30px;
}


.partnerInfoWrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color:black;   
}